.vselect .dropdown li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1)
  }
  
  .vselect .dropdown li:last-child {
    border-bottom: none;
  }
  
  .vselect .dropdown li a {
    padding: 10px 20px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1.25em;
  }
  
  .vselect .dropdown li a .fa {
    padding-right: 0.5em;
  }

  .v-select, .dropdown-toggle {
      height: 38px;
  }

  .dropdown-toggle::after {
      content: none;
  }
